#textarea {
  margin: 10px;
  width: 400px;
  height: 80px;
  font-size: 150%;
}

#button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 150%;
  width: 400px;
  height: 40px;
}

#image {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
